PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=change_this_secret

BUNNY_STORAGE_ZONE=oracle-store
BUNNY_STORAGE_FOLDER=Opay
BUNNY_STORAGE_HOST=sg.storage.bunnycdn.com
BUNNY_CDN_HOSTNAME=oracle-store.b-cdn.net
BUNNY_STORAGE_ACCESS_KEY=your_bunny_storage_access_key
BUNNY_MAX_VIDEO_SIZE_MB=2048
